body {
    font-family: Arial, sans-serif;
    background-color: #225930;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container img {
    width: 200px;
    height: auto;
    margin-bottom: 0px;
}

.login-container h2 {
    margin-top: 1px;
    margin-bottom: 10px;
}

.login-container p {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #225930;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #909eac;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #8190A5;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

